/* CSS Document */
.lpaywall_message_wrap {
	position: relative;
	width: 100%;
	margin: -5em auto 2em;
	padding: 6em 0 0;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5) 0.5em, #fff 5.5em, #fff 100%);
}

#lpaywall_message {
	box-shadow: 0 0 0.5em 0.25em rgba(0,0,0,0.125);
    padding: 0.5em; /* Changed for Ice Dragon */
    border: .5em solid #FFFFFF;
    -webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	background-color: #e3e3e3;
	color: #333333;
	font-size: 1em;
    line-height: 1.625;
}

#lpaywall_message a {
	color: inherit;
	font-weight: 600;
}

#lpaywall_message a:visited,
#lpaywall_message a:hover,
#lpaywall_message a:active,
#lpaywall_message a:focus {
	color: inherit;
}

.lpaywall_message {
	border-radius: 4px;
	margin-bottom: 1em;
}

.lpaywall_message.error {
	background: #F8D7DA;
	border: 1px solid #f5c6cb;
	padding: 10px;
}

.lpaywall_message.error p {
	margin-bottom: 5px;
	font-size: .875em;
	color: #721c24;
}

.lpaywall_message.success {
	background: #D4EDDA;
	border: 1px solid #c3e6cb;;
	padding: 10px;
}

.lpaywall_message.success p {
	margin-bottom: 5px;
	font-size: .875em;
	color: #155724;
}