/* CSS Document */

span.delete-x {
	display: inline-block;
    color: #bbb;
    font-size: 14px;
    line-height: 1.3em;
    margin-right: 12px;
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    width: 20px;
    height: 20px;
}

span.delete-x:hover {
    cursor: pointer;
}

span.delete-restriction-row {
	color: red;
	margin-top: -10px;
}

#issuem-leaky-paywall-restriction-rows table {
	border: 1px solid #ddd;
}

#issuem-leaky-paywall-restriction-rows table th {
	/*border-bottom: 1px solid #ddd;*/
	padding: 10px;
}

#issuem-leaky-paywall-restriction-rows table td {
	border-top: 1px solid #F0F0F0;
	padding: 10px;
}

#add-restriction-row {
	margin-bottom: 10px;
}

.leaky-paywall-restriction-settings .hide-setting {
	display: none;
}