/* CSS Document */
#ice-dragon-logo-on-paywall {
	margin-right: 15px;
	height: 80px;
	border: none;
	box-shadow: none;
	opacity: 0.75;
	flex-shrink: 0;
	align-self: center;
}

.link-on-paywall:link, .link-on-paywall:visited .link-on-paywall:active, .lpaywall_message_wrap .link-on-paywall:hover {
	box-shadow: none;
}

.lpaywall_message_wrap .link-on-paywall:hover {
	text-decoration: underline;
}

#paywall-login-container {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	align-content: center;
}

#paywall-login-text {
	display: flex;
	align-items: center;
}